.body {
	position: relative;
    left: 150px;
    top: 300px;
    height: 240px;
    width: 242px;
    border-top: 10px solid #000;
    border-right: 17px solid #000;
    border-bottom: 10px solid #000;
    border-left: 17px solid #000;
    border-radius: 160px/140px;
    background-color: #fff;
}

.scarf-outer {
	position: absolute;
    left: -18px;
    top: -29px;
    height: 126px;
    width: 266px;
    border: 6px solid #000;
    background-color: #f00;
    border-radius: 50%/62px;
    z-index: 2;
}

.scarf-inner {
	position: absolute;
    left: -8px;
    top: 2px;
    height: 39px;
    width: 246px;
    border: 6px solid #000;
    border-bottom: 0px;
    border-radius: 25px;
    z-index: 3;
}

.scarf-tongue {
	z-index: 1;
    position: absolute;
    left: 19px;
    top: 83px;
    height: 90px;
    width: 60px;
    border: 3px solid #000;
    background-color: #ff0000;
    border-radius: 18px 0 16px 28px/40px 0 15px 30px;
}

.scarf-tongue:after {
	content: '';
    position: absolute;
    right: 18px;
    top: 0;
    height: 47px;
    width: 12px;
    background-color: #000;
    border-radius: 2px 0 0 12px/20px 0 0 27px;
}

.head {
	z-index: 4;
	position: absolute;
    left: 0;
    top: -124px;
    height: 200px;
    width: 242px;
    background-color: #000;
    border-radius: 50%/ 110px 110px 95px 95px;
}

.eye-left {
	position: absolute;
    left: 63px;
    top: 50px;
    height: 72px;
    width: 48px;
    background-color: #fff;
    border-radius: 50%;
}

.eye-left-eyelid {
	position: absolute;
    right: 6px;
    top: 22px;
    height: 32px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
}

.eye-left-eyes {
	position: absolute;
    right: 2px;
    top: 7px;
    height: 12px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.eye-right-eyelid {
	position: absolute;
    left: 6px;
    top: 18px;
    height: 28px;
    width: 20px;
    background-color: #000;
    border-radius: 10px 10px 10px 10px/15px 15px 5px 5px;
}

.eye-right-eyes {
	position: absolute;
    left: 3px;
    top: 12px;
    height: 16px;
    width: 14px;
    background-color: #fff;
    border-radius: 7px/16px 16px 0 0;
}

.eye-right {
	position: absolute;
    right: 63px;
    top: 50px;
    height: 72px;
    width: 48px;
    background-color: #fff;
    border-radius: 50%;
}

.nose {
	position: absolute;
    left: 41px;
    top: 128px;
    height: 60px;
    width: 160px;
    background-color: #ffa600;
    border-radius: 50%;
}

.nose-black {
	position: absolute;
    left: 14px;
    top: 20px;
    height: 44px;
    width: 131px;
    background-color: #000;
    border-radius: 50%;
}

.nose-cover {
	position: absolute;
    left: 13px;
    top: 14px;
    height: 40px;
    width: 134px;
    background-color: #ffa600;
    border-radius: 50%;
}

.hand-left {
    z-index: -1;
	position: absolute;
    left: -82px;
    top: 31px;
    height: 136px;
    width: 80px;
    background-color: #000;
    border-radius: 72px 10px 76px 12px/105px 10px 136px 31px;
    transform: rotateZ(20deg);
}

.hand-right {
	z-index: -1;
    position: absolute;
    right: -83px;
    top: 31px;
    height: 136px;
    width: 81px;
    background-color: #000;
    border-radius: 10px 72px 12px 76px/10px 105px 31px 136px;
    transform: rotateZ(-20deg);
}

.foot-left {
	z-index: -1;
    position: absolute;
    left: -29px;
    bottom: -46px;
    height: 82px;
    width: 140px;
    border: 3px solid #000;
    background-color: #ffa600;
    border-radius: 64px 76px 76px 64px/46px 46px 36px 36px;
    transform: rotateZ(-5deg);
}

.foot-right {
	z-index: -1;
    position: absolute;
    left: 144px;
    bottom: -46px;
    height: 82px;
    width: 140px;
    border: 3px solid #000;
    background-color: #ffa600;
    border-radius: 76px 64px 64px 76px/46px 46px 36px 36px;
    transform: rotateZ(5deg);
}
